html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

body {
  font-family: sans-serif;
  color: black;
  background-color: white;
}

canvas {
  display: block;
}